.navbar,.container_fluid {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 1rem;
}

.collapse {
  width: 30%;
  height:100%;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  align-items: center;
  justify-content: center;

}
.navbar_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.navbar_brand,
.navbar_nav .nav_link {
  color: red;
}


.home{
  margin: 0%;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.nav_link{
  text-decoration: none;
}
